@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");

:root {
  --neural-color-1: #f2f2f2;
  --neural-color-2: #2d2d2d;
  --accent-color: #21b372;
  --primary-color: #1b2c4d;
  --secondary-color: #304877;
  --background-contrast: #506ea0;
  --selected-color: #204faa;
  --dark-red: #8b0000;
  --firebrick: #b22222;
  --pure-red: #ff0000;
  --topbar-height: 33px;
  --closed-sibar-width: 10vw;
}

.topbar {
  background-color: var(--neural-color-2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: var(--topbar-height);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.body,
.body_lg {
  font-weight: 500;
  letter-spacing: 0;
  line-height: auto;
  color: var(--neural-color-1);
}

.body {
  font-size: 24px;
}

.body_lg {
  font-size: 30px;
}

.subtitle,
.subtitle_sm {
  line-height: 101%;
  font-weight: 700;
}

.subtitle {
  font-size: 32px;
  letter-spacing: 10%;
  color: var(--neural-color-1);
}

.subtitle_sm {
  font-size: 24px;
  letter-spacing: 16%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 101%;
  color: var(--neural-color-1);
}

h1 {
  font-size: 120px;
  line-height: 132%;
}

h2 {
  font-size: 73px;
}

h3 {
  font-size: 46px;
}

h4 {
  font-size: 37.5px;
}

h1,
h2,
h3,
h4,
.subtitle,
.subtitle_sm,
.body,
.body_lg,
p,
body,
html {
  font-family: "Alef", sans-serif;
}

.window_name {
  position: absolute;
  left: 2vw;
}

.sidebar {
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  width: var(--closed-sibar-width);
  height: calc(100vh - var(--topbar-height));
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  margin: auto;
  height: calc(100vh - var(--topbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - var(--closed-sibar-width));
  position: fixed;
  top: calc(var(--topbar-height));
  right: 0;
}

#root > * + * {
  margin: 20px 0 0 0;
}

/* 100vh on safari does not include the bottom bar. */
@supports (-webkit-overflow-scrolling: touch) {
  #root {
    height: 85vh;
  }
}

#message-log {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

#message-log p:first-child {
  margin: 0;
}

#message-log > * + * {
  margin: 10px 0 0 0;
}

#publish-form-container {
  width: 100%;
}

#publish-form {
  width: 100%;
  height: 40px;
  position: relative;
}

#publish-form > * + * {
  margin: 0 0 0 10px;
}

#publish-form input[type="text"] {
  flex-grow: 1;
  border: none !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  word-break: normal;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  width: calc(100vw - var(--closed-sibar-width) - 3px);
  right: 0;
  z-index: 0;
}

#publish-form input[type="submit"] {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
  border: none !important;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  aspect-ratio: 1;
}

#publish-form input[type="submit"]:hover {
  background-color: red;
}

#publish-form input[type="submit"]:active {
  background-color: red;
}

.person {
  background-color: var(--secondary-color);
  width: calc(100vw - var(--closed-sibar-width) - 3px);
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 66px;
}

.person_wrapper {
  margin-left: 2vw;
}

.signin {
  cursor: pointer;
  background: var(--neural-color-1);
  color: var(--neural-color-2);
  padding: 0.25rem;
  outline: 0.125rem var(--accent-color) solid;
  grid-column: 2 / -3;
  border-radius: 5px;
}

.chaticon {
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
  width: var(--closed-sibar-width);
}

.chaticon > img {
  width: inherit;
}

.signin-portal {
  filter: blur(5px);
  z-index: 0;
  position: relative;
}

.signin-window,
.signup-window {
  outline: 0.125rem var(--accent-color) solid;
  top: 30vh;
  left: 50vh;
  z-index: 10000;
  border-radius: 5px;
  position: fixed;
  background-color: var(--neural-color-2);
}

#signin-form {
  display: grid;
  --side-margin-length: 0.5rem;
  padding-left: var(--side-margin-length);
  padding-right: var(--side-margin-length);
  gap: 0.5rem;
}

.signin-buttons {
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#github-button {
  outline: 0.125rem var(--accent-color) solid;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.signin-misc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#signin,
#signup {
  cursor: pointer;
  color: var(--accent-color);
  text-decoration: wavy underline var(--neural-color-1);
}

.hidden {
  display: none;
}

.close-window {
  color: var(--firebrick);
  background-color: var(--neural-color-1);
  aspect-ratio: 1;
  width: auto;
  height: 0.9em;
  text-align: center;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  right: 0;
}

.close-window::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50%;
}

.close-window:hover {
  background-color: rgba(242, 242, 242, 0.9);
}

#close-signup-button::before {
  top: 0;
}

.sign-window-title {
  margin-top: 2rem;
  height: 2rem;
}
